@import 'styles/variables';


body {
    background-color: $primary;
    color: $lightPrimary;
    font-family: 'Lato', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
   
    .header {
        padding: 30px;
        h1 {
            font-size: 36px;
            color: $lightSecondary;
            font-weight: 900;
        }
    }

    .inputArea {
        margin: 30px;
        padding: 20px;
        height: 150px;
        border-radius: 30px;
        background-color: $darkSecondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            height: 30px;
            //width: 200px;
            padding: 10px;
            border-radius: 10px;
            background-color: $lightSecondary;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        label:hover {
            height: 30px;
            padding: 10px;
            border-radius: 10px;
            background-color: $hoverSecondary;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        input {
            display: none;
        }
        span {
            padding: 10px;
        }
    }

    .tableContainer {
        margin: 30px;
        thead {
            font-size: 20px;
            background-color: $darkSecondary;
            color: $lightSecondary;
            th {
                padding: 10px;
            }
        }
        tbody {
            padding: 10px;
            text-align: center;
            tr {
                background-color: $darkSecondary;
                td {
                    padding: 10px;
                    
                }
            }
            tr:hover{
                background-color: $primary;
                border-radius: 10px;
            }
            tr:nth-child(even) {
                background-color: $darkHover;
            }
            tr:nth-child(even):hover {
                background-color: $primary;
            }
        }

        th:first-of-type {
            border-top-left-radius: 20px;
          }
          th:last-of-type {
            border-top-right-radius: 20px;
          }
          tr:last-of-type td:first-of-type {
            border-bottom-left-radius: 20px;
          }
          tr:last-of-type td:last-of-type {
            border-bottom-right-radius: 20px;
          }
    }
}